.bestSellerSection {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bestSellerSection h2 {
  text-align: center;
}

.cardContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-medium);
  margin-top: var(--spacing-xxxl);
}

.cardWrapper {
  width: 100%;
}

.cardWrapper p {
  max-width: 60%;
  height: 100px;
}

@media screen and (min-width: 980px) {
  .cardContainer {
    justify-content: space-between;
    /* align-items: flex-start; */
  }

  .cardWrapper {
    width: 30% !important;
  }

  .cardWrapper p {
    width: 100%;
    max-width: 400px;
  }
}
