.dropdownWrapper {
  width: max-content;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  position: absolute;
  top: 40px;
  left: 0;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
}

.dropdownItem {
  text-transform: capitalize;
  /* color: var(--primary-color); */
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}

.dropdownItem a {
  color: var(--color-text);
}

.dropdownItem a:hover {
  color: var(--color-tertiary);
}
