.galleryWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 20px;
  gap: 20px;
}

.imgWrapper {
  display: inline;
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 100% !important;
}

.imgWrapper img {
  display: inline;
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}

.imgWrapper1 { grid-row: span 6; }
.imgWrapper2 { grid-row: span 9; }
.imgWrapper3 { grid-row: span 6; }
.imgWrapper4 { grid-row: span 6; }
.imgWrapper5 { grid-row: span 9; }
.imgWrapper6 { grid-row: span 6; }
.imgWrapper7 { grid-row: span 6; }
.imgWrapper8 { grid-row: span 9; }
.imgWrapper9 { grid-row: span 6; }
.imgWrapper10 { grid-row: span 6; }
.imgWrapper11 { grid-row: span 9; }
.imgWrapper12 { grid-row: span 6; }
.imgWrapper13 { grid-row: span 6; }
.imgWrapper14 { grid-row: span 6; }
.imgWrapper15 { grid-row: span 12; }
.imgWrapper16 { grid-row: span 6; }
.imgWrapper17 { grid-row: span 6; }
.imgWrapper18 { grid-row: span 6; }



@media screen and (min-width: 466px) {
  .imgWrapper15 { grid-row: span 9; }
  .imgWrapper16 { grid-row: span 6; }
  .imgWrapper17 { grid-row: span 9; }
  .imgWrapper18 { grid-row: span 6; }
}

@media screen and (min-width: 686px) {
  .galleryWrapper {
    grid-template-columns: repeat(auto-fill, minmax(10%, 1fr));
  }
  .imgWrapper1 { grid-column: span 2; grid-row: span 6; }
  .imgWrapper2 { grid-column: span 2; grid-row: span 6; }
  .imgWrapper3 { grid-column: span 3; grid-row: span 9; }

  .imgWrapper4 { grid-column: span 4; grid-row: span 9; }
  .imgWrapper5 { grid-column: span 3; grid-row: span 6; }
  .imgWrapper6 { grid-column: span 3; grid-row: span 6; }

  .imgWrapper7 { grid-column: span 2; grid-row: span 6; }
  .imgWrapper8 { grid-column: span 2; grid-row: span 6; }
  .imgWrapper9 { grid-column: span 4; grid-row: span 9; }

  .imgWrapper10 { grid-column: span 3; grid-row: span 9; }
  .imgWrapper11{ grid-column: span 2; grid-row: span 6; }
  .imgWrapper12 { grid-column: span 2; grid-row: span 6; }

  .imgWrapper13 { grid-column: span 3; grid-row: span 9; }
  .imgWrapper14{ grid-column: span 4; grid-row: span 9; }
  .imgWrapper15 { grid-column: span 3; grid-row: span 6; }

  .imgWrapper16 { grid-column: span 2; grid-row: span 9; }
  .imgWrapper17{ grid-column: span 3; grid-row: span 9; }
  .imgWrapper18 { grid-column: span 2; grid-row: span 9; }
}

@media screen and (min-width: 746px) {
  .imgWrapper1 { grid-column: span 3; grid-row: span 6; }
  .imgWrapper2 { grid-column: span 2; grid-row: span 6; }
  .imgWrapper3 { grid-column: span 3; grid-row: span 9; }

  .imgWrapper4 { grid-column: span 5; grid-row: span 9; }
  .imgWrapper5 { grid-column: span 3; grid-row: span 6; }

  .imgWrapper6 { grid-column: span 4; grid-row: span 6; }
  .imgWrapper7 { grid-column: span 3; grid-row: span 6; }
  .imgWrapper8 { grid-column: span 1; grid-row: span 6; }

  .imgWrapper9 { grid-column: span 4; grid-row: span 9; }
  .imgWrapper10 { grid-column: span 4; grid-row: span 9; }

  .imgWrapper11{ grid-column: span 2; grid-row: span 6; }
  .imgWrapper12 { grid-column: span 2; grid-row: span 6; }
  .imgWrapper13 { grid-column: span 4; grid-row: span 9; }

  .imgWrapper14{ grid-column: span 4; grid-row: span 9; }
  .imgWrapper15 { grid-column: span 4; grid-row: span 6; }

  .imgWrapper16 { grid-column: span 3; grid-row: span 9; }
  .imgWrapper17{ grid-column: span 3; grid-row: span 9; }
  .imgWrapper18 { grid-column: span 2; grid-row: span 9; }
}

@media screen and (min-width: 1803px) {
  .imgWrapper1 { grid-column: span 4; grid-row: span 9; }
  .imgWrapper2 { grid-column: span 2; grid-row: span 9; }
  .imgWrapper3 { grid-column: span 3; grid-row: span 12; }

  .imgWrapper4 { grid-column: span 6; grid-row: span 12; }
  .imgWrapper5 { grid-column: span 3; grid-row: span 9; }

  .imgWrapper6 { grid-column: span 4; grid-row: span 9; }
  .imgWrapper7 { grid-column: span 3; grid-row: span 9; }
  .imgWrapper8 { grid-column: span 2; grid-row: span 9; }

  .imgWrapper9 { grid-column: span 5; grid-row: span 12; }
  .imgWrapper10 { grid-column: span 4; grid-row: span 12; }

  .imgWrapper11{ grid-column: span 3; grid-row: span 9; }
  .imgWrapper12 { grid-column: span 2; grid-row: span 9; }
  .imgWrapper13 { grid-column: span 4; grid-row: span 12; }

  .imgWrapper14{ grid-column: span 5; grid-row: span 12; }
  .imgWrapper15 { grid-column: span 4; grid-row: span 9; }

  .imgWrapper16 { grid-column: span 4; grid-row: span 12; }
  .imgWrapper17{ grid-column: span 3; grid-row: span 12; }
  .imgWrapper18 { grid-column: span 2; grid-row: span 12; }
}
