.section {
  justify-content: center;
  align-items: center;
}

.contentContainer {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xxl);
}

.contentContainer h2 {
  width: 100%;
  text-align: center !important;
}

.contentContainer p {
  text-align: center;
}
