.section {
  width: 100%;
  min-height: auto;
  display: flex;
  padding: 100px 10px;
  margin: var(--spacing-xl) 0;
}

.black {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.black h2, .black a {
  color: var(--color-primary);
}

.white {
  background-color: var(--color-primary);
  color: var(--color-text);
}

.white h2 {
  color: var(--color-heading-text);
}

.white button a {
  color: var(--color-primary);
}

.contentWrapper {
  width: 100%;
  display: flex;
}



@media screen and (min-width: 375px) {
  .section {
    padding: 100px 20px;
  }
}
@media screen and (min-width: 1100px) {
  .section {
    padding: 100px 50px;
  }
  .contentContainer {
    max-width: 1400px;
  }
}
@media screen and (min-width: 1400px) {
  .section {
    padding: 100px 100px;
  }
}
