@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  /* colors */
  --color-primary: #ffffff;
  --color-secondary: #000000;
  --color-tertiary: #FF6347;
  --color-heading-text: #333333;
  --color-text: #555555;
  --color-white: #ffffff;
  --color-gray: #F0F0F0;

  /* font family */
  --font-family: "Inter", serif;

  /* font-weights */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-medium: 500;
  --weight-regular: 400;

  /* font-sizes */
  --text-xl: 3.2rem;
  --text-large: 2.5rem;
  --text-semi-large: 2rem;
  --text-medium: 1.5rem;
  --text-semi-medium: 1.2rem;
  --text-regular: 1rem;
  --text-small: 0.8rem;

  /* line-height */
  --line-height-large: 30px;
  --line-height-medium: 25px;
  --line-height-regular: 15px;

  /* spacing */
  --spacing-xxxl: 50px;
  --spacing-xxl: 40px;
  --spacing-xl: 32px;
  --spacing-large: 24px;
  --spacing-medium: 16px;
  --spacing-regular: 10px;
  --spacing-small: 8px;
  --spacing-xs: 4px;
  --spacing-heading: 30px;
  --spacing-buttom: 30px;

  /* box-shadow */
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  /* border-radius */
  --border-radius: 8px;
  --circle: 50%;

  /* test border */
  --test-border: 1px solid red;

  /* widths */
  --button-width-mobile: 150px;
  --button-width-desktop: 217px;

  --button-height: 40px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow: auto;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  background: var(--color-primary);
  color: var(--color-text);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  transition: background-color 0.5s linear, color 0.5s linear;
}
/*
[data-theme='dark'], [data-theme='dark'] body {
  background-color: var(--color-secondary);
  color: var(--color-white);
} */

.main {
  padding-top: 100px;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-heading-text);
  line-height: var(--line-height-large);
}


h3, h4, h5, h6 {
  font-weight: var(--weight-semi-bold);
}

h1 {
  font-size: var(--text-semi-large);
  line-height: var(--line-height-xl);
  font-weight: var(--weight-semi-bold);
  text-transform: uppercase;
}

h2 {
  font-size: var(--text-medium);
  font-weight: var(--weight-medium);
  text-transform: uppercase;
  margin-bottom: var(--spacing-xxxl);
}

p {
  line-height: var(--line-height-medium);
}

input, button {
  font-family: var(--font-family);
}

a, li, input{
  color: var(--color-text);
}

[data-theme='dark'] a, [data-theme='dark'] li, [data-theme='dark'] input {
  color: var(--color-white);
}

a {
  text-decoration: none;
  width: 100%;
}


li, [data-theme='dark'] li  {
  list-style-type: none;
}

button {
  border-radius: var(--border-radius);
  font-size: var(--text-regular);
  background-color: var(--color-tertiary);
  width: var(--button-width-desktop);
  height: var(--button-height);
  color: var(--color-primary);
  font-weight: var(--weight-semi-bold);
  border: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button > a {
  color: var(--color-primary);
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background-color 0.5s ease-in-out;
}

button > a:hover {
  background-color: #00000020;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-primary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: 20px;
}

.light {
  --bg: var(--color-primary);
  --textColor: var(--color-text);
}

.dark {
  --bg: var(--color-secondary);
  --textColor: var(--color-white);
}



@media screen and (min-width: 768px) {
  h1 {
    font-size: var(--text-large);
  }
}

@media screen and (min-width: 850px) {
  button {
    /* width: var(--button-width-desktop); */
  }
}
