.cardWrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: var(--spacing-xl) 0;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.cardTextWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-large) var(--spacing-medium);
}

.cardHeading {
  text-align: center;
}

.cardInfoText {
  text-align: center;
}
